<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Hexa Space</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="hexa-endpoint-url" content="<%= endpointUrl %>">
    <meta name="hexa-access-token" content="<%= accessToken %>">

    <%- javascriptTag() %>
    <%- stylesheetTag() %>
  </head>

  <body>
    <article class="app"></article>
    <footer>© 2014 COMBO GAMES</footer>

    <script type="text/json" id="data">
      <%- JSON.stringify(data) %>
    </script>
  </body>
</html>
