<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Hexa Space</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable"          content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <meta name="hexa-endpoint-url" content="<%= endpointUrl %>">
    <meta name="hexa-access-token" content="<%= accessToken %>">

    <link rel="icon"                             href="<%= assetPath('favicon.ico') %>">
    <link rel="apple-touch-icon"                 href="<%= assetPath('touch_icon_iphone.png') %>">
    <link rel="apple-touch-icon" sizes="76x76"   href="<%= assetPath('touch_icon_ipad.png') %>">
    <link rel="apple-touch-icon" sizes="120x120" href="<%= assetPath('touch_icon_iphone_2x.png') %>">
    <link rel="apple-touch-icon" sizes="152x152" href="<%= assetPath('touch_icon_ipad_2x.png') %>">

    <%- javascriptTag() %>
    <%- stylesheetTag() %>
  </head>

  <body>
    <main></main>

    <footer>© 2014 COMBO GAMES</footer>

    <script type="text/json" id="data">
      <%- JSON.stringify(data) %>
    </script>
  </body>
</html>
